body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(ceuEstrelado.png);
    background-size: cover;
    overflow: hidden;
    animation: desfoque .7s alternate-reverse  infinite;
}

.astro{
    width:200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition-delay: 0ms;
    box-shadow: inset -20px 0 5px rgba(0, 0, 0, 0.76),inset 15px 0 13px rgba(0, 0, 0, 0.705);
    background-size:cover;
}
    
    

.terra{
    background-image: url(terra.jpg);
    animation: rotacionar 10s linear infinite ;

}  

.lua{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(lua.webp);
    animation: rotacionar 2s linear infinite,orbitar 7s  linear  infinite;
}


@keyframes orbitar {
    0%{
        left: 30%;
        width: 100px;
        height: 100px;
        z-index: -9999;
    }
    30%{
        box-shadow: inset -30px 0 5px rgba(0, 0, 0, 0.801);
    }
    30% ,40%{
       
        width: 40px;
        height: 40px;
        z-index: -9999;
        box-shadow: inset -30px 0 5px rgba(0, 0, 0, 0.801);
    }
    50%{
        width: 100px;
        height: 100px;
        left: 65%;
        
        
    }
    60%{
        
        z-index: 9999;
    }
    80%{
        width: 170px;
        height: 170px;
        box-shadow: inset -14px 0 10px rgba(0 , 0, 0, 0.548),inset 4px 0 13px rgba(0, 0, 0, 0.705);
    }
    100%{
        left: 30%;
        width: 100px;
        height: 100px;
    }
}

@keyframes rotacionar {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 164%;
    }
}

@keyframes desfoque {
    0%{
        backdrop-filter: brightness(30%);
    }
    100%{
        backdrop-filter: brightness(70%);
    }
}



